<p id="notice"><%= notice %></p>

<p>
  <strong>Tipodocumento:</strong>
  <%= mostrar_Tipodocumento(@instructor.Tipodocumento) %>
</p>

<p>
  <strong>Numedoc:</strong>
  <%= @instructor.numedoc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @instructor.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @instructor.apellido %>
</p>

<p>
<strong>Genero:</strong>
<%= mostrar_genero(@instructor.genero) %>
</p>


<p>
  <strong>Direccion:</strong>
  <%= @instructor.direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @instructor.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @instructor.telefono %>
</p>

<p>
  <strong>Area:</strong>
  <%= @instructor.area %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @instructor.rol %>
</p>

<p>
  <strong>Lineacargo:</strong>
  <%= @instructor.lineacargo %>
</p>

<%= link_to 'Editar', edit_instructor_path(@instructor) %> |
<%= link_to 'Atras', instructors_path %>
