<p id="notice"><%= notice %></p>

<p>
  <strong>Tipodocumentos:</strong>
  <%= @operarium.Tipodocumentos %>
</p>

<p>
  <strong>Numerodocumento:</strong>
  <%= @operarium.Numerodocumento %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @operarium.Nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @operarium.Apellidos %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @operarium.Genero %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @operarium.Direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @operarium.Correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @operarium.Telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @operarium.Celular %>
</p>

<p>
  <strong>Directorarea:</strong>
  <%= @operarium.DirectorArea %>
</p>

<p>
  <strong>Instructors:</strong>
  <%= @operarium.instructors %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @operarium.Calificacion %>
</p>

<p>
  <strong>Inicial:</strong>
  <%= @operarium.Inicial %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @operarium.Fecha %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @operarium.Inicio %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @operarium.Fecha %>
</p>

<p>
  <strong>Final:</strong>
  <%= @operarium.Final %>
</p>

<%= link_to 'Edit', edit_operarium_path(@operarium) %> |
<%= link_to 'Back', operaria_path %>
